Source: ayatana-greeter-session-broadcast
Section: x11
Priority: optional
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: cmake,
               dbus-test-runner,
               debhelper (>= 9),
               dpkg-dev (>= 1.16.1.1),
               dh-autoreconf,
               intltool,
               libdbus-1-dev,
               libdbustest1-dev,
               libglib2.0-bin,
               python3-dbusmock,
Standards-Version: 4.1.1
Homepage: https://github.com/AyatanaIndicators/ayatana-greeter-session-broadcast
Vcs-Git: git://cgit.arctica-project.org/ayatana/ayatana-ido.git
Vcs-Browser: https://cgit.arctica-project.org/ayatana/ayatana-ido.git/

Package: ayatana-greeter-session-broadcast
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Service to allow a LightDM greeter to communicate to a desktop session
 Allows for the LightDM greeter to send events that can be picked up by
 the user's session and acted upon if allowed by the user.
 .
 This package provides the Ayatana Greeter Session Broadcast service.

#Package: libayatana-greeter-session-broadcast1
#Section: libs
#Architecture: any
#Depends: ${misc:Depends},
#         ${shlibs:Depends},
#Pre-Depends: ${misc:Pre-Depends},
#Multi-Arch: same
#Recommends: ayatana-greeter-session-broadcast (= ${binary:Version}),
#Description: Library for sending requests to the user session
# Sends requests to the broadcast service so that they can be seen
# by the user session.
# .
# This package contains shared libraries to be used by the greeter.
#
#Package: libunity-greeter-session-broadcast1-dev
#Section: libdevel
#Architecture: any
#Depends: libglib2.0-dev,
#         libunity-greeter-session-broadcast1 (= ${binary:Version}),
#         ${misc:Depends},
#         ${shlibs:Depends},
#Multi-Arch: same
#Description: Library for sending requests to the user session (development files)
# Sends requests to the broadcast service so that they can be seen
# by the user session.
# .
# This package contains files that are needed to build the greeter.
